<html>
	<head>
		<style>
			body, html {
			  height: 100%;
			  margin: 0;
			}

			.bg {
			  /* The image used */
			  background-image: url("static/image2.jpg");

			  /* Full height */
			  height: 85%; 

			  /* Center and scale the image nicely */
			  background-position: center;
			  background-repeat: no-repeat;
			  background-size: cover;
			}
			.label {
			  color: white;
			  padding: 8px;
			  font-family: Arial;
			}
		</style>
	</head>
<center>
<body>
    <center><h2><br/>Thank you for using the portal.</h2></center>

<div class="bg">
	<br/>
  <form action="/linkdin" method="POST">

				<label class="labelclr" for="age"><font color="white" size="4">&#160;<b><br/></b>
				<p><b></b> 
				</p>
				</font></label>

    <br>
    <br>
    <input type="submit" value="Close">
  </form>
</div>
</body>
</center>
</html>